body #root .App{
  width: 100%;
  height: 100%;
  text-align: center;
  display:flex;
  flex-direction: column;
}

.head-footer{
  background-color: rgb(66, 159, 172);
  color:aliceblue;
  display:flex;
  flex-direction: row;
  justify-content: space-around;
}

.main-sect {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#left-col {
  display: flex;
  align-items: center;
  background-color: #61dafb;
}

#admin-panel {
  display:flex;
  flex-direction: column;
  background-color: rgb(58, 98, 228);
  padding: 1em;
}

#mid-col {
  display: flex;
  flex-direction: column;
  background-color: rgb(245, 238, 238);
}

#mid-cat-component {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: antiquewhite;
}

#forum-top {
  display: flex;
  flex-direction: column;
  background-color: aquamarine;
  justify-content: space-around;
}

#post {
  display: flex;
  flex-direction: row;
}

#mid-submit-message {
  display: flex;
  flex-direction: column;
  background-color: bisque;
}

#right-col {
  display: flex;
  flex-direction: column;
  background-color:rgb(247, 216, 204);
  align-items: center;

}

.statsTable {
  border: 2px dotted teal; 
  font-size: small;
}
.like {
  background: transparent;
  border-radius: 50%;
  padding: 0px;
  position:relative;
  top:10px;
  left:10px;
  margin:2px;

}
.garbage_btn{
  background:transparent;
  width:50px;
  height:50px;
  position:relative;
  top:10px;
  padding:0%;
  margin:0%
}
.garbage{
  width:100%;
  height:100%;
}

.post{
  display:flex;
  flex-direction:row;
  align-items: baseline;
  justify-content:center
}
img{
 height:35px;
 width:35px;

}
#like{
  background-color: blue;
}
#thumbsdown{
  transform: rotate(180deg);
  background-color:red;
}
#seaarchfield{
  width:200px;
  height:20px;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
