body #root .App{
  width: 100%;
  height: 100%;
  text-align: center;
  display:flex;
  flex-direction: column;
}

.head-footer{
  background-color: rgb(66, 159, 172);
  color:aliceblue;
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 20%;
}

.main-sect {
  display: flex;
  flex-direction: row;
  height: 80%;
  width: 100%;
}

#left-col p {
  color: white;
}

#left-col {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #61dafb;
  width:10%;
}

#left-col button {
  border-radius: 0%;
  background-color: navy;
  color: white;
}

#admin-panel {
  display:flex;
  flex-direction: column;
  background-color: rgb(58, 98, 228);
  padding: 1em;
}

#mid-col {
  display: flex;
  flex-direction: column;
  background-color: rgb(245, 238, 238);
  width: 60%;
}

#mid-cat-component {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: antiquewhite;
  padding-bottom: 1em;
  height: 20%;
}

#mid-cat-component h4 {
  margin: 0.5em;
}

#mid-forum-component {
  background-color: bisque;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
  overflow: auto;
}

#postCollection {
  background-color:blanchedalmond;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  height: 90%;
  border: 2px solid pink;
}

#mid-submit-message {
  display: flex;
  flex-direction: column;
  background-color: bisque;
}

.postContainer {
  border: 2px double blue;
  background-color: rgb(240, 245, 245);
  margin: 0.1em 1em;
  width: 90%;
  height: 80%;
}

#right-col {
  display: flex;
  flex-direction: column;
  background-color:rgb(247, 216, 204);
  align-items: center;
  width:30%;
}

.statsTable {
  border: 2px dotted teal; 
  font-size: small;
}
.like {
  background: transparent;
  border-radius: 50%;
  padding: 0px;
  position:relative;
  top:10px;
  left:10px

}
.post{
  display:flex;
  flex-direction:row;
  align-items: baseline;
  justify-content:center
}
img{
 height:35px;
 width:35px;

}
#like{
  background-color: blue;
}
#thumbsdown{
  transform: rotate(180deg);
  background-color:red;
}
#seaarchfield{
  width:200px;
  height:20px;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
